/* ------------------------------ */
/* ------ Universal reset ------ */
/* ---------------------------- */

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}


body {
    overflow-x: hidden;
}

/* --------------------- */
/* ------ NavBar ------ */
/* ------------------- */

.nav_section {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #F2EDE6;
}


.nav_section_profile {
    display: flex;
    gap: 5px;
}


.nav_section_profile a {
    text-decoration: none;
    color: #000;
}


#nav_section_profile_img{
    height: 40px;
    width: 40px;
    color: #fff;
}


#nav_section_profile_img img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
}


#nav_section_profile_username {
    align-content: center;
    font-size: 25px;
}


#nav_section_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


#nav_section_navbar a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}


#nav_section_navbar a:nth-child(3)::after {
    content: "";
    display: block;
    width: 0%;
    border: 1px solid black;
    border-radius: 1cap;
    background-color: #000;
    height: 5px;
    animation: slide 1s forwards;
}


@keyframes slide {
    to {
        width: 100%;
    }
}




/* ------------------------------ */
/* ------ Contact Section ------ */
/* ---------------------------- */

#contact_container{
    min-height: calc(100vh - 125px);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_container_2{
    background-color: #F2EDE6;
    height: 600px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#contact_container_img{
    margin: 50px;
    height: 500px;
    width: 485px;
}

#contact_form_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact_form_container_heading{
    font-size: 80px;
    margin-top: 20px;
}

#contact_form_section{
    border-top: 2px solid black;
    border-left: 2px solid black;
    height: 75%;
    padding: 50px;
    display: grid;
    grid-template-columns: 50% 30%;
    gap: 50px;
}

#contact_icons{
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.contact_icons_links{
    display: block;
    height: 30px;
    width: 30px;
}
.contact_icons_links svg{
    height: 30px;
    width: 30px;
}

#contact_form{
    display: flex;
    flex-direction: column;
}

.contact_input{
    background: #F2EDE6;
    border: 0;
    border-bottom: 2px solid black ;
    height: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    outline:none;
}

#submit{
    height: 50px;
    background-color: #000;
    color: #F2EDE6;
    border: 0;
    border-radius: 25px;
}

.contact_text{
    margin-bottom: 50px;
    margin-top: 12px;
}

.contact_text_heading{
    font-size: 24px;
    font-weight: 500;
}


.contact_text_info {
    text-decoration: none;
    color: #000;
}


/* --------------------- */
/* ------ Footer ------ */
/* ------------------- */

#footer_container {
    background-color: #fff;
    height: 40px;
    width: 100%;
    position: relative;
    bottom: 0;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


#footer_container small a {
    text-decoration: none;
    color: #000;
}


#footer_container_copyrights {
    color: #000;
}