/* ------------------------------ */
/* ------ Universal reset ------ */
/* ---------------------------- */

*,
*::after, 
*::before {
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}



/* --------------------- */
/* ------ NavBar ------ */
/* ------------------- */

.nav_section {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F2EDE6;
}


.nav_section_profile {
    display: flex;
    gap: 5px;
}


#nav_section_profile_img{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
}


#nav_section_profile_username {
    align-content: center;
    font-size: 25px;
}


#nav_section_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


#nav_section_navbar a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}


#nav_section_navbar a:nth-child(1)::after {
    content: "";
    display: block;
    width: 0%;
    border: 1px solid black;
    border-radius: 1cap;
    background-color: #000;
    height: 5px;
    animation: slide 1s forwards;
}


@keyframes slide {
    to {
        width: 100%;
    }
}

/* --------------------- */
/* ------ Header ------ */
/* ------------------- */

#header_container {
    height: calc(100vh - 90px);
    position: sticky;
    top: 90px;
    background-color: #fff;
}


.header_container_main_section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#header_container_main_section_heading {
    font-size: 40px;
}

#header_container_main_section_desc {
    font-size: 18px;
}



/* --------------------------- */
/* ------ Hero section ------ */
/* ------------------------- */

#main_container {
    padding: 24px;
    height: calc(100vh - 128px);
    background-color: #F2EDE6;
    position: relative;
    /* color: #10002b; */
    color: #000;
}


#main_container_hero_section {
    display: flex;
}


/* ----------------------- */
/* ------ Projects ------ */
/* --------------------- */

#main_container {
    padding: 17px 24px;
}

#main_container_hero_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#main_container_hero_section_projects {
    border: 1px solid black;
    border-right: none;
}


#main_container_hero_section_projects_heading {
    margin-bottom: 16px;
    padding: 16px;
    font-size: 30px;
}


.main_container_hero_section_project_names {
    margin-bottom: 8px;
    border-bottom: 1px solid black;
    padding: 16px;
}

.main_container_hero_section_project_names:last-child {
    border-bottom: none;
}



/* ------------------------------ */
/* ------ Work Experience ------ */
/* ---------------------------- */

#main_container_hero_section_work_experience {
    border: 1px solid black;
    border-right: none;
}


#main_container_hero_section_work_experience_heading {
    margin-bottom: 16px;
    padding: 16px;
    font-size: 30px;
}

.main_container_hero_section_work_experience_block {
    padding: 16px;
    border-bottom: 1px solid black;
}


.main_container_hero_section_work_experience_block:last-of-type {
    border-bottom: 0;
}

.main_container_hero_section_work_experience_block_name {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 8px;
}


.main_container_hero_section_work_experience_block_desc {
    margin-bottom: 8px;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: justify;
}


.main_container_hero_section_work_experience_block_link {
    /* text-decoration: none; */
    color: darkorchid;
    font-size: 16px;
}


/* ------------------------ */
/* ------ Education ------ */
/* ---------------------- */

#main_container_hero_section_education {
    border: 1px solid black;
}


#main_container_hero_section_education_heading {
    margin-bottom: 16px;
    padding: 16px;
    font-size: 30px;
}


#main_container_hero_section_education_desc {
    padding: 16px;
}


#main_container_hero_section_education_courses {
    padding: 16px;
}


#main_container_hero_section_courses_list {
    list-style-type: square;
}


.main_container_hero_section_courses_name {
    margin-bottom: 8px;
    list-style-type: symbols();
}


.main_container_hero_section_courses_name::marker {
    content: "-  ";
}


/* --------------------- */
/* ------ Footer ------ */
/* ------------------- */

#footer_container {
    background-color: #fff;
    height: 40px;
    width: 100%;
    text-align: center;
    align-content: center;
    position: relative;
    bottom: 0;
}


#footer_container_copyrights {
    color: #000;
}